<?xml version="1.0" encoding="UTF-8"?>
<config>
        <server>
                <!--填服务器ip或域名,正式使用外网IP-->
                <ip>cava3_smu_1</ip>
                <port>10008</port>
                <username>cava</username>
                <password>12345678</password>
                <httpip>cava3_proxy_1</httpip>
                <httpport>9010</httpport>
                <webdir>/opt/cava3svrproxy</webdir>
        </server>
        <client>
                <clientid>client_999</clientid>
                <!--openapi http ip-->
                <ip>0.0.0.0</ip>
                <!--openapi http port-->
                <port>9030</port>
                <!--openapi http port-->
                <auth_enable>true</auth_enable>
                <proxyuri>GET /notice</proxyuri>
                <proxyuri>GET /cava3/task/{uid:string}</proxyuri>
                <!-- <proxyuri>POST /cava3/upload</proxyuri> -->
        </client>
        <mysql>
                <host>cava3_mysql_1</host>
                <port>3306</port>
                <username>root</username>
                <password>
                        <encrypt>true</encrypt>
                        <value>QFTECHulD37kCROttW7Ip11b4DM11k8BbGO03jKMSNpH9ELv4=</value>
                </password>
                <dbname>db_house_sys</dbname>
        </mysql>
        <redis>
                <host>cava3_redis_1</host>
                <port>6379</port>
                <password>
                        <encrypt>true</encrypt>
                        <value>QFTECHDRK0XQ/AeRivoBSE1PMEyRMLbM6djKsxUrUY3NtfRcU=</value>
                </password>
        </redis>
</config>
