<?xml version="1.0" encoding="UTF-8"?>
<config>
        <server>
                <!--填服务器ip或域名-->
                <ip>0.0.0.0</ip>
                <agent_host>http://180.76.144.58:9010</agent_host>
                <!--http文件下载是否使用外网agent_host-->
                <enable>1</enable>
                <!--填服务器web端口-->
                <port>9010</port>
                <notice>微信关注公号"秦风技术"，有问题可以公众号留言或者发消息</notice>
                <auth>
                        <enable>1</enable>
                        <redis>
                                <host>cava3_redis_1</host>
                                <port>6379</port>
                                <password>
                                        <encrypt>true</encrypt>
                                        <value>QFTECHDRK0XQ/AeRivoBSE1PMEyRMLbM6djKsxUrUY3NtfRcU=</value>
                                </password>
                                <timeout>60</timeout>
                        </redis>
                </auth>
                <convert>
                        <enable>true</enable>
                </convert>
                <report>
                        <token>
                                <key>AnT8zQ1UeLsPrMc6</key>
                                <!--有效期，单位支持h,m,s等-->
                                <expire>168h</expire>
                        </token>
                </report>
                <ip_info>
                        <mode>whois</mode>
                        <query_location>true</query_location>
                </ip_info>
                <filesvr>
                        <url>/cloudpass/downloads/dlv</url>
                        <dir>./cloudpass/downloads/dlv</dir>
                </filesvr>
        </server>
        <mysql>
                <host>cava3_mysql_1</host>
                <port>3306</port>
                <username>root</username>
                <password>
                        <encrypt>true</encrypt>
                        <value>QFTECHulD37kCROttW7Ip11b4DM11k8BbGO03jKMSNpH9ELv4=</value>
                </password>
                <dbname>db_house_sys</dbname>
                <debug>true</debug>
        </mysql>
</config>
